body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #707174;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.main {
  width: 100%;
  margin: 50px auto 80px;
  padding: 0 10px;
}
